<div>
    <ul class="nav nav-tabs">
        <li ng-class="{'active': selectedTab==1}"><a href="javascript:void(0)" ng-click="selectedTab=1">作用域继承</a></li>
        <li ng-class="{'active': selectedTab==2}"><a href="javascript:void(0)" ng-click="selectedTab=2">注入服务</a></li>
        <li ng-class="{'active': selectedTab==3}"><a href="javascript:void(0)" ng-click="selectedTab=3">基于事件</a></li>
    </ul>
    <div ng-show="selectedTab==1">
        <div ng-controller="childCtrl">
            <h3>data in parent controller : {{data.name}}</h3>
            <p>change data in child controller: </p>
            <input class="form-control" type="text" ng-model="data.name">
        </div>
    </div>
    <div ng-show="selectedTab==2">
        <div ng-controller="childCtrl1">
            <h3>data in child controller 1 : {{data.name}}</h3>
            <input class="form-control" type="text" ng-model="data.name">
        </div>
        <div ng-controller="childCtrl2">
            <h3>data in child controller 2 : {{data.name}}</h3>
            <input class="form-control" type="text" ng-model="data.name">
        </div>
    </div>
    <div ng-show="selectedTab==3">
        <div ng-controller="outterCtrl">
            <h3>data in outter controller: {{name}}</h3>
            <div ng-controller="innerCtrl1">
                <h3>data in inner controller 1 : {{name}}</h3>
                <input class="form-control" type="text" ng-model="name" ng-change="change()">
            </div>
            <div ng-controller="innerCtrl2">
                <h3>data in innner controller 2 : {{name}}</h3>
                <input class="form-control" type="text" ng-model="name" ng-change="change()">
            </div>
            <hr>
            <div ng-controller="innerCtrlA">
                <h3>data in inner controller A : {{name}}</h3>
                <input class="form-control" type="text" ng-model="name" ng-change="change()">
            </div>
            <div ng-controller="innerCtrlB">
                <h3>data in innner controller B : {{name}}</h3>
                <input class="form-control" type="text" ng-model="name" ng-change="change()">
            </div>
        </div>
    </div>
</div>